<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.dulajdilrukshan.indoorapplication">

   <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET"/>
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE"/>
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <supports-screens android:anyDensity="true"></supports-screens>
    <application

        android:allowBackup="true"
        android:icon="@mipmap/baseline_navigation_black_48"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/baseline_navigation_black_48"
        android:supportsRtl="true"
        android:theme="@style/Theme.AppCompat.Light.DarkActionBar">
        <activity android:name=".LoginActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".SignUpActivity" />
        <activity android:name=".HomeActivity" />
        <activity android:name=".LocateFriend" />
        <activity android:name=".FriendRequests" />
        <!--<activity android:name=".LoginActivity" />-->
        <activity android:name=".NavigateActivity" />
        <activity android:name=".SearchActivity" />
        <activity android:name=".MainActivity" />
        <activity android:name=".ShopRate" />
        <activity android:name=".PathActivity"></activity>

        <service
            android:name=".ScheduledService"
            android:enabled="true"
            android:stopWithTask="true"/>

    </application>

</manifest>